.analytics_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.analytics_container h1 {
  font-family: "poppins";
  margin-top: 2vw;
  color: #5076ff;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 4vw;
}
.analysis_navaber {
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 0.8fr 3.5fr;
  grid-template-rows: 1fr;
  background-color: #5076ff;
  width: 80vw;
  font-family: "poppins";
  border-radius: 10px;
  padding: 0.5vw 1vw;
  justify-items: center;
}
.analysis_navaber h2 {
  color: #fff;
  font-weight: 500;
}
.analysis_navaber h2:nth-child(4) {
  margin-left: -39vw;
}
.analysis_link{
  font-family: "poppins";
  color: #000000;
  font-weight: 600;
  margin-left: -15vw;
}
.quiz_details_container{
  height: 45vw;
  overflow-y: auto;
}
.quiz_details_container::-webkit-scrollbar {
  width: 10px;
}

.quiz_details_container::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 6px;
}

.quiz_details_container::-webkit-scrollbar-thumb:hover {
  background-color: #949393;
}
.quiz_details {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3.5fr;
  grid-template-rows: 1fr;
  gap: 0em 2em;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
}
.analysis_btns {
  display: flex;
  gap: 1vw;
  margin-left: 2.5vw;
}
.quiz_details_container .quiz_details:nth-child(even) {
  background-color: #b3c4ff;
}

.quiz_details h2 {
  font-size: 1.2vw;
}
.quiz_edit {
  color: #854cff;
  cursor: pointer;
}

.delete_quiz {
  color: #d60000;
  cursor: pointer;
}
.share_quiz {
  cursor: pointer;

  color: #60b84b;
}
.modal_wraper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(189, 189, 189, 0.9);
}
.delete_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 4vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete_container h1 {
  color: #474444;
  text-align: center;
  font-size: 2.8vw;
  font-weight: 600;
  font-family: "poppins";
}
.delete_container .delete_btn {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}
.delete_container .delete_btn button:nth-child(1) {
  background-color: #ff4b4b;
  border: 0;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-family: "poppins";
  font-size: 1.5vw;
  padding: 0.5vw 3vw;
  width: 20vw;
}
.delete_container .delete_btn button:nth-child(2) {
  box-shadow: 0px 0px 15px 0px #00000040;
  background-color: transparent;
  width: 20vw;
  border: 0;
  outline: none;
  border-radius: 10px;
  color: #474444;
  font-family: "poppins";
  font-size: 1.5vw;
  padding: 0.5vw 3vw;
}
